extends layout-admin

block content

  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item
      a(href="/admin/") Admin
    li.breadcrumb-item
      a(href="/admin/gifts") Gifts
    li.breadcrumb-item
      a(href=`/admin/gift/${gift.id}`)= gift.name
    li.breadcrumb-item.active Delete

  h1 Delete Gift Option?

  form(method="post")

    .form-group.row
      label.col-3.col-form-label Id
      .col-9.col-form-label= gift.id

    .form-group.row
      label.col-3.col-form-label Name
      .col-9.col-form-label= gift.name

    .form-group.row
      label.col-3.col-form-label Description
      .col-9.col-form-label= gift.description

    .form-group.row
      label.col-3.col-form-label Amount
      .col-9.col-form-label= gift.amount

    .form-group.row
      label.col-3.col-form-label Currency
      .col-9.col-form-label= gift.currency

    .form-group.row
      label.col-3.col-form-label Statement Descriptor
      .col-9.col-form-label= gift.statement

    .form-group.row
      label.col-3.col-form-label Confirm
      .col-9
        button.btn.btn-primary(type="submit") Delete
        a.btn.btn-default(href="/admin/gifts") Cancel
