extends layout-admin

block content

  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item
      a(href="/admin/") Admin
    li.breadcrumb-item
      a(href="/admin/plans") Plans
    if plan.id
      li.breadcrumb-item
        a(href=`/admin/plan/${plan.id}`)= plan.name
      li.breadcrumb-item.active
        | Edit
    else
      li.breadcrumb-item.active
        | New

  if plan.id
    h1 Edit Plan
  else
    h1 New Plan

  if errors.msg
    .alert.alert-danger= errors.msg

  form(action=`/admin/plan/${ plan.id ? plan.id + '/edit' : 'new' }`, method="post")

    .form-group.row
      label.col-3.col-form-label(for="input-name") Name
      .col-9(class=errors.id ? 'has-danger' : '')
        input.form-control(
          id="input-id"
          name="id"
          type="text"
          disabled=Boolean(plan.id)
          value=form.id || plan.id || ''
          placeholder="e.g. kowhai-1000"
        )
        if errors.id
          .form-control-feedback= errors.id
        if plan.id
          p.form-text.text-muted(id="help-id")
            | The name of a plan can't be changed after it has been created. If it is incorrect, please delete and
            | re-create under a different name.
        else
          p.form-text.text-muted(id="help-id")
            | Names must be lowercase letters or numbers. They can include hyphens.

    .form-group.row
      label.col-3.col-form-label(for="input-title") Title
      .col-9(class=errors.name ? 'has-danger' : '')
        input.form-control(
          id="input-name"
          name="name"
          type="text"
          value=form.name || plan.name || ''
          placeholder="e.g. Kowhai"
        )
        if errors.name
          .form-control-feedback= errors.name
        p.form-text.text-muted(id="help-name")
          | The title to show in the plan list on the homepage.

    .form-group.row
      label.col-3.col-form-label(for="input-description") Description
      .col-9(class=(errors.description ? 'has-danger' : ''))
        textarea.form-control(
          id='input-description'
          name="description"
          rows="5"
          placeholder="Your donation will help us ..."
        )= form.description || plan.metadata.description || ''
        if errors.description
          .form-control-feedback= errors.description
        p.form-text.text-muted(id="help-description")
          | Will be shown next to the donation plans on the homepage.

    .form-group.row
      label.col-3.col-form-label(for="input-amount") Amount
      .col-9(class=errors.amount ? 'has-danger' : '')
        input.form-control(
          id="input-amount"
          name="amount"
          type="text"
          value=form.amount || ''
          disabled=Boolean(plan.id)
          placeholder="1000"
        )
        if errors.amount
          .form-control-feedback= errors.amount
        if plan.id
          p.form-text.text-muted(id="help-amount")
            | The currency for this plan is <code>#{plan.currency}</code>.
        else
          p.form-text.text-muted(id="help-amount")
            | The amount for this plan in your current <code>currency</code> setting.

    .form-group.row
      label.col-3.col-form-label(for="input-interval") Interval
      .col-9(class=errors.interval ? 'has-danger' : '')
        for interval in intervals
          label
            input(type="radio", name="interval", value=interval, checked=(form.interval || plan.interval) == interval, disabled=Boolean(plan.id))
            |
            |
            span(style="padding-right: 20px;")=interval
            br
        if errors.interval
          .form-control-feedback= errors.interval
        p.form-text.text-muted(id="help-interval")
          | For single donations, choose 'none'. For recurring donations (subscriptions) choose any other value.

    .form-group.row
      label.col-3.col-form-label(for="input-statement") Statement Descriptor
      .col-9(class=errors.statement ? 'has-danger' : '')
        input.form-control(
          id="input-statement"
          name="statement"
          type="text"
          value=form.statement || plan.statement_descriptor || ''
          placeholder="e.g. FRESH WATER BRONZE"
        )
        if errors.statement
          .form-control-feedback= errors.statement
        p.form-text.text-muted(id="help-statement")
          | This shows on the user's credit card statement. Max 22 chars. Use only UPPERCASE letters and spaces. No
          | punctuation is allowed.

    .form-group.row
      .offset-sm-3.col-sm-9
        button.btn.btn-primary(type="submit") Save
        a.btn.btn-default(href="/admin/plans") Cancel
