extends layout-admin

block content

  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item
      a(href="/admin/") Admin
    li.breadcrumb-item
      a(href="/admin/gifts") Gifts
    if gift.id
      li.breadcrumb-item
        a(href=`/admin/gift/${gift.id}`)= gift.name
      li.breadcrumb-item.active
        | Edit
    else
      li.breadcrumb-item.active
        | New

  if gift.id
    h1 Edit Gift
  else
    h1 New Gift

  if errors.msg
    .alert.alert-danger= errors.msg

  form(action=`/admin/gift/${ gift.id ? gift.id + '/edit' : 'new' }`, method="post")

    .form-group.row
      label.col-3.col-form-label(for="input-id") Name
      .col-9(class=errors.id ? 'has-danger' : '')
        input.form-control(
          id="input-id"
          name="id"
          type="text"
          value=form.id || gift.id || ''
          placeholder="e.g. piwakaka-1000"
        )
        if errors.id
          .form-control-feedback= errors.id
        p.form-text.text-muted(id="help-id")
          | Names must be lowercase letters or numbers. They can include hyphens.

    .form-group.row
      label.col-3.col-form-label(for="input-name") Title
      .col-9(class=errors.name ? 'has-danger' : '')
        input.form-control(
          id="input-name"
          name="name"
          type="text"
          value=form.name || gift.name || ''
          placeholder="e.g. Piwakaka"
        )
        if errors.name
          .form-control-feedback= errors.name
        p.form-text.text-muted(id="help-name")
          | The title to show in the gift list on the homepage.

    .form-group.row
      label.col-3.col-form-label(for="input-description") Description
      .col-9(class=(errors.description ? 'has-danger' : ''))
        textarea.form-control(
          id='input-description'
          name="description"
          rows="5"
          placeholder="Your donation will help us ..."
        )= form.description || gift.description || ''
        if errors.description
          .form-control-feedback= errors.description
        p.form-text.text-muted(id="help-description")
          | Will be shown next to the donation gifts on the homepage.

    .form-group.row
      label.col-3.col-form-label(for="input-amount") Amount
      .col-9(class=errors.amount ? 'has-danger' : '')
        input.form-control(
          id="input-amount"
          name="amount"
          type="text"
          value=form.amount || gift.amount || ''
          placeholder="1000"
        )
        if errors.amount
          .form-control-feedback= errors.amount
        if form.id
          p.form-text.text-muted(id="help-amount")
            | The currency for this gift is <code>#{form.currency}</code>.
        else
          p.form-text.text-muted(id="help-amount")
            | The amount for this gift in your current <code>currency</code> setting.

    .form-group.row
      label.col-3.col-form-label(for="input-statement") Statement Descriptor
      .col-9(class=errors.statement ? 'has-danger' : '')
        input.form-control(
          id="input-statement"
          name="statement"
          type="text"
          value=form.statement || gift.statement || ''
          placeholder="e.g. FRESH WATER BRONZE"
        )
        if errors.statement
          .form-control-feedback= errors.statement
        p.form-text.text-muted(id="help-statement")
          | This shows on the user's credit card statement. Max 22 chars. Use only UPPERCASE letters and spaces. No
          | punctuation is allowed.

    .form-group.row
      .offset-sm-3.col-sm-9
        button.btn.btn-primary(type="submit") Save
        a.btn.btn-default(href="/admin/gifts") Cancel
