extends layout-admin

block content

  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item
      a(href="/admin/") Admin
    li.breadcrumb-item.active
      | Pledges

  h1 Pledge Types

  p
    a.btn.btn-primary(href="/pledge/new") Create Pledge

  table.table.table-striped
    thead
      tr
        th(style="text-align: center;", width="20%") Name
        th(style="text-align: center;", width="20%") Title
        th(style="text-align: center;", width="20%") Description
        th(style="text-align: center;", width="10%") Amount
        th(style="text-align: center;", width="10%") Interval
        th(style="text-align: center;", width="20%") Actions
    tbody
      for pledge in pledges
        tr
          td= pledge.name
          td= pledge.title
          td= pledge.description
          td(style="text-align: right;")= pledge.amount
          td= pledge.interval
          td(style="text-align: center;")
            a.btn.btn-primary(href=`/admin/pledge/${pledge.name}/upd`) Edit
            |
            |
            a.btn.btn-primary(href=`/admin/pledge/${pledge.name}/del`) Delete

  h2 Quick Help

  p.

    Here are all of your pledge types. This list includes single (one-off) donation types as well as all recurring
    (subscription) types. It also contains all active and inactive pledge types too, even though the inactive ones are
    not shown on the website.

  p.

    Please note two things about these pledge types. The first is that you are unable to edit the 'amount' since you
    may have people subscribed to it (you wouldn't want their regular donation changed). Also, if you delete a
    subscription, it is only marked as inactive in the database (not deleted) for the same reason. To edit the amount
    of a subscription you must first delete it and recreate it.

  p.

    Whilst these conditions do not apply to single pledge types, the same process applies to keep things consistent.
