extends layout-admin

block content

  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item
      a(href="/admin/") Admin
    li.breadcrumb-item.active
      | Plans

  h1 Subscription Plans

  p
    a.btn.btn-primary(href="/admin/gift/new") Create Gift

  p
    | Your overall subscription settings cannot be changed here but you should review them in your Stripe Account's
    |
    a(href="https://dashboard.stripe.com/account/recurring",target="_blank") Recurring Settings
    | . Check especially for the setting on what action to take for unpaid subscriptions.

  table.table.table-striped
    thead
      tr
        th(style="text-align: center;", width="60%") Details
        th(style="text-align: center;", width="20%") Plan
        th(style="text-align: center;", width="20%") Actions
    tbody
      for plan in plans
        tr
          td
            strong Id
            | : #{plan.id}
            br
            strong Name
            | : #{plan.name}
            br
            strong Description
            | : #{plan.metadata.description}
            br
            strong Statement Descriptor
            | : #{plan.statement_descriptor}
          td
            strong Currency
            | : #{plan.currency}
            br
            strong Interval
            | : #{plan.interval}
            br
            strong Active
            | : #{plan.metadata.active}
            br
          td(style="text-align: right;")
            a.btn.btn-primary(href=`/admin/plan/${plan.name}/edt`) Edit

  h2 Quick Help

  p.

    Here are all of your recurring subscription plans. It also contains all active and inactive plans too, even though
    the inactive ones are not shown on the website.

  p.

    Please note two things about these plans. The first is that you are unable to edit the 'name', 'currency' and
    'amount' fields since you may have people subscribed to the plan currently (you wouldn't want their regular
    donation changed). Also, if you delete a plan, it is only marked as inactive in the database (not deleted) for the
    same reason. To edit the name, currency, or amount of a subscription you must delete it first and then recreate it.
