extends layout-admin

block content

  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item
      a(href="/admin/") Admin
    li.breadcrumb-item.active
      | Settings

  h1 Settings

  p These are settings specific to your organisation and donation website.

  form(action="/admin/settings", method="post")
    for item, name in cfg
      .form-group.row
        label.col-3.col-form-label(for="input-#{name}") #{item.title} #{item.required ? ' (*)' : ''}
        .col-9(class=(errors[name] ? 'has-danger' : ''))
          if item.type == 'text'
            textarea.form-control(
              id='input-' + name
              name=name
              rows= item.rows || 3
              placeholder=item.default || item.title || ''
            )= form[name] || ( current[name] && current[name].value ) || ''
          else
            input.form-control(
              id='input-' + name
              name=name
              type="text"
              value=form[name] || ( current[name] && current[name].value ) || ''
              placeholder=item.default || item.title || ''
            )
          if errors[name]
            .form-control-feedback= errors[name]
          p.form-text.text-muted(id=('help-' + name)) !{item.help}
    .form-group.row
      .offset-sm-3.col-sm-9
        button.btn.btn-primary(type="submit") Save
        a.btn.btn-default(href="/admin/") Cancel
