extends layout-main

block content

  .jumbotron
    h1.display-3= settings.title || title
    p.lead= settings.lead

  form#js-form(action="/", method="post")
    input(type="hidden", name="token_id")
    input(type="hidden", name="type")
    input(type="hidden", name="amount")
    input(type="hidden", name="email")
    input(type="hidden", name="client_ip")
    input(type="hidden", name="plan")

  .row.marketing

    .col-lg-6
      h2 Single Donation

      for gift in gifts
        .card(style="margin-top: 10px;")
          .card-block
            h4.card-title $#{gift.amount/100} - #{gift.name}
            p.card-text= gift.description
            p
              button.btn.btn-primary.js-donate(
                type="button"
                disabled="true"
                data-action="/donate"
                data-key=stripePublicKey
                data-name=settings.title
                data-description=`$${gift.amount/100} Donation`
                data-amount= gift.amount
                data-panel-label="Donate {{amount}} Now"
                data-currency=gift.currency
                data-image=settings.stripeImage || null
                data-allow-remember-me=settings.stripeAllowRememberMe === 'true' ? "true" : "false"
                data-zip-code=settings.stripeZipCode ? 'true' : 'false'
                data-billing-address=settings.stripeBillingAddress === 'true' ? "true" : "false"
              ) Donate $#{gift.amount/100} Now

    .col-lg-6
      h2 Monthly Donation

      for plan in plans
        .card(style="margin-top: 10px;")
          .card-block
            h4.card-title $#{plan.amount/100} - #{plan.name}
            p.card-text= plan.metadata.description
            p
              button.btn.btn-primary.js-subscribe(
                type="button"
                disabled="true"
                data-action="/subscribe"
                data-key=stripePublicKey
                data-name= settings.title
                data-description=`$${plan.amount/100} Subscription`
                data-amount= plan.amount
                data-panel-label="Donate {{amount}} Monthly"
                data-currency=plan.currency
                data-image=settings.stripeImage || null
                data-allow-remember-me=settings.stripeAllowRememberMe === 'true' ? "true" : "false"
                data-zip-code=settings.stripeZipCode ? 'true' : 'false'
                data-billing-address=settings.stripeBillingAddress === 'true' ? "true" : "false"
                data-plan=plan.id
              ) Donate $#{plan.amount/100} Monthly

  if page
    .row
      .col-lg-12
        h2= page.title
        div!= page.html

block scripts
  script(src="https://checkout.stripe.com/checkout.js")
  script(src="/s/js/index.js")
