extends layout-main

block content

  .jumbotron
    h1.display-3= settings.title || title
    p.lead= settings.lead

  .row.marketing
    .col-lg-6
      h2 Monthly Donation
      div(style="padding-bottom: 30px;")
        strong $10.00
        br
        |  Ensures we can provide the right support throughout the year.

      div(style="padding-bottom: 30px;")
        strong $25.00
        br
        |  Enables us to invest in new projects.

      div(style="padding-bottom: 30px;")
        strong $100.00
        br
        |  Makes sure we can continue our work on an ongoing basis.

    .col-lg-6
      h2 Single Donation
      div(style="padding-bottom: 30px;")
        strong $10.00
        br
        |  Provides one person water for a year.
        button.btn.btn-primary.js-single(
          type="button"
          disabled="true"
          data-key=stripePublicKey
          data-name="Fresh Water for All"
          data-description="$10 Donation"
          data-amount="1000"
          data-panel-label="Donate {{amount}} Now"
          data-currency=settings.currency
          data-allow-remember-me="false"
        ) Donate $10.00 Now

      div(style="padding-bottom: 30px;")
        strong $25.00
        br
        |  Buys tools and equipment to help maintain current infrastructure.
        button.btn.btn-primary.js-single(
          type="button"
          disabled="true"
          data-key=stripePublicKey
          data-name="Fresh Water for All"
          data-description="$10 Donation"
          data-amount="2500"
          data-panel-label="Donate {{amount}} Now"
          data-currency=settings.currency
          data-allow-remember-me="false"
        ) Donate $25.00 Now

      div(style="padding-bottom: 30px;")
        strong $100.00
        br
        |  Provides one day's labour to help build new water supplies and sewerage.
        button.btn.btn-primary.js-single(
          type="button"
          disabled="true"
          data-key=stripePublicKey
          data-name="Fresh Water for All"
          data-description="$10 Donation"
          data-amount="10000"
          data-panel-label="Donate {{amount}} Now"
          data-currency=settings.currency
          data-allow-remember-me="false"
        ) Donate $100.00 Now

      form#js-form-single(action="/donate", method="post")
        input(type="hidden", name="token_id")
        input(type="hidden", name="type")
        input(type="hidden", name="amount")
        input(type="hidden", name="email")
        input(type="hidden", name="client_ip")

block scripts
  script(src="https://checkout.stripe.com/checkout.js")
  script(src="/s/js/index.js")
