doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content=settings.lead)
    meta(name="author", content="")

    title= settings.title || title

    link(rel="icon", type="image/png", sizes="96x96", href="/s/i/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/s/i/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/s/i/favicon-16x16.png")

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="/s/css/styles.css")
  body
    .container.container-main
      .header.clearfix
        nav
          block menu
            ul.nav.nav-pills.float-right
              li.nav-item
                a.nav-link(class=(toptab==="index"?"active":""), href="/") Home
              for item in menu
                li.nav-item
                  a.nav-link(class=(toptab===item.name?"active":""), href=`/${item.name}`)= item.title
        h3.text-muted= settings.title || title

      block content

      footer.footer
        p
          | Powered by The
          |
          a(href="https://donatinator.org", target="_blank") Donatinator
          | . Free software for anyone to use and help raise funds for themselves.

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/s/js/ie10.js")
    block scripts
